*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #282828;
}

.container{
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

header{
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    border-bottom: .15px solid #999;
}


.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu .logo h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 30px;
}

.menu .links ul{
    display: flex;
    list-style: none;
}

.menu ul li{
    margin-top: 5px;
    margin-left: 25px;
}

.menu .links ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.menu .links button{
    margin-left: 15px;
    padding: 6px 12px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}



.menu .icons{
    color: white;
    margin-right: 130px;
    margin-left: 50px;
    font-size: 18px;
    cursor: pointer;
}

.menu .icons i#alerta{
    margin-right: 20px;
}

.menu .icons i#user{
    margin-left: 25px;
    cursor: pointer;
}

.menu .links button:hover{
    background-color: rgb(3, 56, 3);
    transition: .5s;
}

.modal-overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display:flex;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    justify-content: center;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    background-color: #f0f2f5;
    padding: 2.5rem 3rem;
    
}

.modal i{
    float: right;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modal h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}


.modal form label{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

.modal form input{
    margin: 3px 0;
    padding: 5px 12px;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal form textarea{
    width:200px;
    outline: none;
    resize: none;
    margin-top: 15px;
    padding: 15px 10px;

}


.modal form button{
    padding: 8px 12px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.modal form button:hover{
    background-color: rgb(3, 80, 3);
    transition: .5s;
}

main{
    width: 100%;
    height: 300px;
    margin: 2rem 0;
}

.cards{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;   
}


.cards .card-single{
    width: 300px;
    height: 200px;
    padding: 1rem 2.5rem;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 7px 5px 3px rgba(0, 0, 0, .5);
    border: .15px solid #ccc;
    margin-right: 60px;
}

.cards h2{
    color: white;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.cards input {
    margin-bottom: 25px;
    background-color: #282828;
    border: none;
    padding: 5px 12px;
    color: white;
    outline: none;

}


.cards button{
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.cards i{
    color: white;
    margin-left: 10px;
}

.cards-2{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.cards-2 .card-single{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 7px 5px 3px rgba(0, 0, 0, .5);
    border: .15px solid #ccc;
    padding: 1rem 2.5rem;
    background-color: black;
    margin-right: 60px;
}

 .cards-2 h2{
    color: white;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.cards-2 input {
    margin: 10px 0;
    color: white;
    background-color: #282828;
    border: none;
    padding: 5px 12px;
    outline: none;
    

}

.cards-2 i{
    color: white;
    margin-left: 10px;
}

.cards-2 button{
    padding: 5px 10px;
    background-color: green;
    color: white;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}